/* -----------------------------------------------------  ​‌‌‌⁡⁣⁢⁣‍𝗙𝗲𝗮𝘁𝘂𝗿𝗲⁡​   ----------------------------------------------------- */

#main-section {
  padding-top: clamp(10px, 2vh, 16px);
}

/* ----------- ​‌‍‌⁡⁣⁢⁣𝗪𝗲𝗮𝘁𝗵𝗲𝗿 𝗠𝗲𝘁𝗿𝗶𝗰 𝗰𝗼𝗻𝘁𝗮𝗶𝗻𝗲𝗿⁡​ ---------- */
#weatherMetrics {
  width: 100%;
  height: min(65%, 370px);
  flex-wrap: wrap;
  justify-content: space-around; 
}

/* Metric cards */
.metricCard {
  display: flex;
  align-items: center;
  width: 48%;
  height: clamp(68px, 22%, 76px);
  background-color: rgb(32, 43, 59);
  border-radius: .7rem;
  padding: 0rem 1.25rem;
}

/* metric wraper bitween icon & text  */
.metricWrap {
  display: flex;
  gap: .58rem;
  padding-left: 0.312rem;
}

/* Metric info */
.metricInfo {
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
}

/* metric wrap solid icon  */
.metricWrap i {
  margin-top: 0.125rem;
  width: 1.4rem;
}

/* metric wrap p font style set  */
.metricInfo p {
  font-size: .92rem;
  font-weight: 600;
}

.metricInfo h3 {
  font-size: 1.05rem;
}

/*  ------------------------ ​‌‍‌⁡⁣⁢⁣𝗖𝗼𝗻𝘁𝗮𝗶𝗻𝗲𝗿 𝗥𝗶𝗴𝗵𝘁⁡​ ----------------------- */
#container-right {
  height: 96%;
  width: 33%;
}